*{
    margin:0;
    padding:0;
}

:root {
    --dark-dark: #242423;
    --dark-dark-inv: rgb(36, 36, 36, 0.5);
    --dark-grey: #3F403F;
    --red:#FE5F55;
    --yellow: #FFE066;
    --blue: #D9F7FA;
}
body{
    background:var(--blue);
    font-family: 'Rokkitt', serif;
}
html {
    scroll-behavior: smooth;
  }

/*/   Disable scrollbar /*/

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
html{
    scrollbar-width: none;
}
}
body {
margin: 0; /* remove default margin */
-ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
overflow-y: scroll;
}
body::-webkit-scrollbar {
width: 0px;
background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

/* ------------------------- effet paralax -------------------------------*/
#paralax{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(217,247,250);
    background: radial-gradient(circle, rgba(217,247,250,1) 0%, rgba(117,186,205,1) 100%);
}

#paralax img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
}

#paralax div{
    position: absolute;
    height: 12%;
    width: 10%;
    bottom:10%;
    display: flex;
    cursor: pointer;
}
#paralax div>img{
    object-fit:contain;
}
/* --------- animations ------*/
/* Anim levitation */
@keyframes levitate{
    0%,100%{
        transform: translate(0, 0px);
    }
    50%{
        transform: translate(0, 20px);
    }
}
@keyframes levitateArr{
    0%,100%{
        transform: translate(0, -5px);
    }
    50%{
        transform: translate(0, 5px);
    }
}
/*anim ombres*/
@keyframes ombres{
    0%,100%{

    }
    50%{
        transform: scale(1.05);
    }
}
/*anim fox */
@keyframes fox {
    0%, 100%{
        transform: translate(0, 40px);
    }
    20%{
        transform: translate(0, 40px);
    }
    50%{
        transform: translate(0, 10px);
    }
    90%{
        transform: translate(0, 10px);
    }
}
/* anim de 'coding'*/
@keyframes coding{
    0%,100%{

    }
    50%{
        transform: scale(1.03);
    }
}
/*attribution animations*/
#fox{
    animation: fox 5s ease infinite ;
}
#manette, #terre{
    animation: levitate 2s ease-in-out infinite;
}
#omb-terre, #omb-manette{
    animation: ombres 2s ease-in-out infinite;
}
#coding{
    animation: coding 3s ease infinite;
}
#red-arrow{
    animation: levitateArr 1s ease-in-out infinite 0.2s;
}
#yellow-arrow{
    animation: levitateArr 1s ease-in-out infinite;
}

/* OnHover sur les flèches */
.arrow:before{
    content: '';
    width: 100%;
    height:100%;
    background:var(--dark-dark);
    position: absolute;
    border-radius: 800px;
    filter: blur(80px);
    transition: 0.5s;
}
.arrow:hover:before{
    content: '';
    width: 100%;
    height:100%;
    background:var(--dark-dark);
    position: absolute;
    border-radius: 800px;
    filter: blur(50px);
    transition: 0.5s;
}
/* juste pour la forme et le référencement*/
h1{
    display: none;
}
/* --------------------------------------- PAGE ACCUEIL ------------------------------------ */

#page{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--dark-grey);
}

/* nav */
nav{
    background: var(--yellow);
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:var(--dark-grey);
    font-size: 2vh;
    
}

#logo-tb{
    height: 101%;
    background-color:var(--dark-grey);
    transition: 0.3s;
}
#logo-tb:hover{
    height: 101%;
    background-color:rgb(54, 54, 54)  ;
    transition: 0.3s;
}

#TB{
    min-width: 130px;
    transition: 0.3s;
}

.container{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:5vh;
    font-size: 2.5vh; 
}
.container>a,#TB{
    cursor:pointer;
    text-decoration: none;
    color: var(--dark-grey);
}
.container>p{
    font-size: 5vh;
    cursor: default;
}


#logo{
    height: 100%;
    display: flex;
    align-items: center;
    gap:5vh;
}
.logo{
    height: 80%;
    cursor:pointer;
}
/*onhover animations*/

#TB:hover{
    transform: scale(1.1);
    transition: 0.4s;
}

.container>a:before{
    content: '';
    position: absolute;
    width: 0%;
    height: 1%;
    background:var(--dark-grey);
    transform: translate(0,3vh);
    transition: 0.4s;
}
.container>a:hover:before{
    width: 4%;
    transition: 0.4s;
}
/*logo*/

/* -------------main--------------------*/
.case{
    height: 50%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--dark-grey);
    font-weight: 900;
    font-size: 5vh;
    cursor: pointer;
}

#c1{
    background: var(--red);
    transition: 0.2s;
}
#c2{
    background: var(--blue);
    transition: 0.2s;
}
#c3{
    background: var(--yellow);
    transition: 0.2s;
}

#c1:hover{
    background: var(--red);
    box-shadow: 0 0 10px var(--red), 0 0 40px var(--red), 0 0 80px var(--red);
    transition: 0.5s;
}
#c2:hover{
    background: var(--blue);
    box-shadow: 0 0 10px var(--blue), 0 0 40px var(--blue), 0 0 80px var(--blue);
    transition: 0.5s;
}
#c3:hover{
    background: var(--yellow);
    box-shadow: 0 0 10px var(--yellow), 0 0 40px var(--yellow), 0 0 80px var(--yellow);
    transition: 0.5s;
}

#c1:before{
    content: 'Click to open';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 90%;
    width:90%;
    background:var(--dark-dark) ;
    opacity: 0%;
    transition: 0.4s;
    font-size: 3vh;
    
}
#c2:before{
    content: '404 that page does not exist';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 90%;
    width:90%;
    background:var(--dark-dark) ;
    opacity: 0%;
    transition: 0.4s;
    font-size: 3vh;
}

#c3:before{
    content: 'Click to open';
    display: flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    height: 90%;
    width:90%;
    background:var(--dark-dark) ;
    opacity: 0%;
    transition: 0.4s;
    font-size: 3vh;
}

#c1:hover:before,#c2:hover:before, #c3:hover:before{
    opacity:100%;
    transition: 0.4s;
    animation: levitate 2s ease-in-out infinite  ;
}
/* Traits en haut et en bas qui bougent */
/*containers des traits*/   
.container-t-top{
    position: absolute;
    width: 300%;
    height: 2%;
    top:15%;
    left:0;
    display: flex;
    align-items: center;
    gap:2%;
    animation: toRight 50s ease-in-out infinite;
}
.container-t-bottom{
    position: absolute;
    width: 300%;
    height: 2%;
    top:82.5%;
    right: 0;
    display: flex;
    align-items: center;
    gap:2%;
    animation: toLeft 50s ease-in-out infinite;
}
/*Animations */
@keyframes toRight{
    0%, 100%{
        transform: translate(1%, 0);
    }
    50%{
        transform: translate(-70%, 0);
    }
}

@keyframes toLeft {
    0%, 100%{
        transform: translate(-1%, 0);
    }
    50%{
        transform: translate(70%, 0);
    } 
}

/* traits */
.t{
    width: 30%;
    height: 100%;
    border-radius: 10em;
}
.t1{
    background: var(--red);
}

.t2{
    background: var(--yellow);
}
.t3{
    background: var(--blue);
}
.t:hover{
    filter:contrast(50%);
}


/*footer*/
footer{
    background: var(--dark-dark);
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--yellow);
    cursor: default;
    font-size: 2vh;
}

footer>p:before{
    content: '';
    position: absolute;
    width: 0%;
    height: 1%;
    background:var(--yellow);
    transform: translate(0,3vh);
    transition: 0.4s;
 
}
footer>p:hover:before{
    width: 13.2%;
    transition: 0.4s;
}

/*------------------------------------- Modale "About"---------------------*/
#about{
    position: absolute;
    background:var(--dark-dark);
    height: 60%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1vh;
    transition: 0.5s;
    transform: scale(0);
}

#photo-me{
    background-image: url("../assets/img/me.PNG");
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 80%;
}
.me{
    height: 80%;
    width: 32%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 2vh;
}

hr {
    border-color:var(--yellow);
}

.hr2{
    border-color:var(--red);
}

.hr3{
    border-color:var(--blue);
}

.close{
    font-size: 3vh;
    color: var(--yellow);
    cursor: pointer;
    transition: 0.3s;
}
.close:hover{
    background:var(--dark-grey);
    transition: 0.3s;
}
/*------------------------------------- Modale "Contact"---------------------*/
#contact{
    position: absolute;
    background:var(--dark-dark-inv);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;;
    transition: 0.5s;
    transform: scale(0);
    color: var(--blue);
}

#contact>form{
    background: var(--dark-dark);
    width: 30%;
    min-width: 320px;
    height: 70%;
    min-height: 540px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 2vh;
    font-size: 3vh;
}
#contact>form>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#message{
    justify-content: flex-start;
    resize: none;
}


/* Button Send */
.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
#sub-button {
    width: 150px;
    height: 50px;
    cursor: pointer;
    color: var(--dark-dark);
    background: white;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 0 var(--red),
        -5px -5px 0 var(--yellow),
        -5px 5px 0 var(--red),
        5px -5px 0 var(--yellow);
    transition: 500ms ease-in-out;
    font-family: 'Rokkitt', serif;
    font-size: 3.5vh;
    font-weight: 900;
}
  
#sub-button:hover {
    box-shadow: 20px 5px 0 var(--red), -20px -5px 0 var(--yellow);
}
  
#sub-button:focus {
    outline: none;
}

/* button close */
#contact>p{
    transform: translateY(-4vh);
}
/* ------------------- Responsive ----------------------*/

@media (max-width:1040px){
    #page{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap:5vh;
        opacity: 100%;
    }

    .case{
        height: 13.5%;
        width: 98%;
    }

    #paralax{
        display: none;
    }
    .container{
        margin-right: 2vh;
    }
    #TB{
        margin-left: 2vh;
    }
}
/* navbar à transformer */
@media(max-width:800px){
    #logo, .container>p{
        display: none;
    }

}

@media (max-width:375px){
    #logo-tb{
        display: none;
    }
    .me{
        font-size: 1.7vh;
    }
}

@media (max-width:280px){
    #logo-tb{
        display: none;
        font-size: 1.7vh;
    }
}





