*{
    margin:0;
    padding:0;
}

body{
    background:#1c001c;
    min-height: 3000px;
    color:blanchedalmond;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(28,0,28,1) 100%, rgba(255,255,255,1) 100%);
}

section img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
/* Animation levitation */
@keyframes levitate{
    0%,100%{
        transform: translate(0, 0px);
    }
    50%{
        transform: translate(0, 20px);
    }
}

#manette, #violon, h1, h2{
    animation: levitate 2s ease-in-out infinite  ;
}

h1, h2{
    animation: levitate 3s ease-in-out infinite  ;
    font-size: 5vh;
}

/* effet néon */
#manette:before{
    content: 'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA';
    position: absolute;
    top:0;
    left:0;
    background-color: #c80e0e;
}

h1:before{
    content: "press space to continue";
    position: absolute;
    width: 20vh;
    height: auto;
    font-size: 2vh;
    left:50%;
    top:100%
}